@tailwind base;
@tailwind components;
@tailwind utilities;

/* Initial hidden state for the navbar */
:root {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

button {
  background-color: var(--primary-color);
  color: white;
}

body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #ffff;
}

#navbar-hamburger {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 300px;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(224, 221, 221, 0.5);
  transition: right 0.9s ease-in-out;
  z-index: 1000;
}

/* Show the navbar when active */
#navbar-hamburger.active {
  right: 0;
}

@layer components {
  .pop-up {
    @apply transition-transform duration-500 ease-in-out transform;
  }

  .pop-up:hover {
    @apply scale-105;
  }

  .primary-bg-color {
    /* color: #020617; */
    background: #020617;
  }

  .primary-color {
    color: #020617;
  }
}

/* Add a shadow to the navbar when scrolled */
.navbar-scrolled {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
