@tailwind base;
@tailwind components;
@tailwind utilities;

/* Initial hidden state for the navbar */

body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#navbar-hamburger {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 300px;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(224, 221, 221, 0.5);
  transition: right 0.9s ease-in-out;
  z-index: 1000;
  
}

/* Show the navbar when active */
#navbar-hamburger.active {
  right: 0;
}
